{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Carlos</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugiat minus similique ad, 
            alias nostrum molestias rem, quidem quasi placeat sit sapiente dolore fugit atque eveniet, eum sint 
            perferendis? Tempora?
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/node-logo.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}